In [1]:
#importing anticipated modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
import scipy
from scipy import stats
from scipy.stats import ttest_ind
from scipy.stats import pearsonr
import datetime
import collections
import statsmodels.stats.proportion
%matplotlib inline

In [2]:
# Set the default plot aesthetics to be prettier.
sns.set_style("white")

In [3]:
#importng the target csv files
train_df = pd.read_csv('/Users/manueltanguma/Downloads/data_set_ALL_AML_train.csv', encoding='latin-1')
indy_df = pd.read_csv('/Users/manueltanguma/Downloads/data_set_ALL_AML_independent.csv', encoding='latin-1')
act_df = pd.read_csv('/Users/manueltanguma/Downloads/actual_ALL_AML.csv', encoding='latin-1')

In [4]:
train_df.shape

(7129, 78)

In [5]:
indy_df.shape

(7129, 70)

In [6]:
train_df.head(2)

,Gene Description,Gene Accession Number,1,call,2,call.1,3,call.2,4,call.3,...,29,call.33,30,call.34,31,call.35,32,call.36,33,call.37
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,A,-139,A,-76,A,-135,A,...,15,A,-318,A,-32,A,-124,A,-135,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,A,-73,A,-49,A,-114,A,...,-114,A,-192,A,-49,A,-79,A,-186,A

In [7]:
indy_df.head(2)

,Gene Description,Gene Accession Number,39,call,40,call.1,42,call.2,47,call.3,...,65,call.29,66,call.30,63,call.31,64,call.32,62,call.33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-342,A,-87,A,22,A,-243,A,...,-62,A,-58,A,-161,A,-48,A,-176,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-200,A,-248,A,-153,A,-218,A,...,-198,A,-217,A,-215,A,-531,A,-284,A

In [8]:
#making the columns easier to work with
train_df.columns = [c.lower().replace(' ', '_') for c in train_df.columns]

In [9]:
indy_df.columns = [c.lower().replace(' ', '_') for c in indy_df.columns]

In [10]:
train_df1 = [col for col in train_df.columns if "call" not in col]
train_df = train_df[train_df1]
train_df.head(2)

,gene_description,gene_accession_number,1,2,3,4,5,6,7,8,...,35,36,37,38,28,29,30,31,32,33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,-139,-76,-135,-106,-138,-72,-413,...,7,-213,-25,-72,-4,15,-318,-32,-124,-135
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,-73,-49,-114,-125,-85,-144,-260,...,-100,-252,-20,-139,-116,-114,-192,-49,-79,-186

In [11]:
indy_df1 = [col for col in indy_df.columns if "call" not in col]
indy_df = indy_df[indy_df1]
indy_df.head(2)

,gene_description,gene_accession_number,39,40,42,47,48,49,41,43,...,54,57,58,60,61,65,66,63,64,62
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-342,-87,22,-243,-130,-256,-62,86,...,-90,-137,-157,-172,-47,-62,-58,-161,-48,-176
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-200,-248,-153,-218,-177,-249,-23,-36,...,-87,-51,-370,-122,-442,-198,-217,-215,-531,-284

In [12]:
act_df.head(5)

   patient cancer
0        1    ALL
1        2    ALL
2        3    ALL
3        4    ALL
4        5    ALL

In [13]:
act_df_tran = act_df.T
act_df = act_df_tran
act_df.head (5)

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
patient,1,2,3,4,5,6,7,8,9,10,...,63,64,65,66,67,68,69,70,71,72
cancer,ALL,ALL,ALL,ALL,ALL,ALL,ALL,ALL,ALL,ALL,...,AML,AML,AML,AML,ALL,ALL,ALL,ALL,ALL,ALL

In [14]:
train_df2 = train_df.drop(['gene_description','gene_accession_number'],axis=1)
#train_df2.index = pd.to_numeric(train_df2.index)
#train_df2.sort_index(inplace=True)
train_df2.head()

,1,2,3,4,5,6,7,8,9,10,...,35,36,37,38,28,29,30,31,32,33
0,-214,-139,-76,-135,-106,-138,-72,-413,5,-88,...,7,-213,-25,-72,-4,15,-318,-32,-124,-135
1,-153,-73,-49,-114,-125,-85,-144,-260,-127,-105,...,-100,-252,-20,-139,-116,-114,-192,-49,-79,-186
2,-58,-1,-307,265,-76,215,238,7,106,42,...,-57,136,124,-1,-125,2,-95,49,-37,-70
3,88,283,309,12,168,71,55,-2,268,219,...,132,318,325,392,241,193,312,230,330,337
4,-295,-264,-376,-419,-230,-272,-399,-541,-210,-178,...,-377,-209,-396,-324,-191,-51,-139,-367,-188,-407

In [15]:
print (train_df2)

          1      2      3      4      5      6      7      8      9     10  \
0      -214   -139    -76   -135   -106   -138    -72   -413      5    -88
1      -153    -73    -49   -114   -125    -85   -144   -260   -127   -105
2       -58     -1   -307    265    -76    215    238      7    106     42
3        88    283    309     12    168     71     55     -2    268    219
4      -295   -264   -376   -419   -230   -272   -399   -541   -210   -178
5      -558   -400   -650   -585   -284   -558   -551   -790   -535   -246
6       199   -330     33    158      4     67    131   -275      0    328
7      -176   -168   -367   -253   -122   -186   -179   -463   -174   -148
8       252    101    206     49     70     87    126     70     24    177
9       206     74   -215     31    252    193    -20   -169    506    183
10      -41     19     19    363    155    325   -115    361    284   -143
11     -831   -743  -1135   -934   -471   -631  -1003  -1001   -829   -684
12     -653   -239   -962   -577   -490   -625   -761   -520   -844   -468
13     -462    -83   -232   -214   -184   -177   -541   -163   -230    -51
14       75    182    208    142     32    -94    109    -38    292    233
15      381    164    432    271    213    222    435    281    172    310
16     -118   -141     84   -107      1     -1   -129   -137    -59    -79
17     -565   -423   -501   -101   -260   -140   -399   -247   -323   -443
18    15091  11038  16692  15763  18128  34207  30801  25147  15272  21801
19        7     37    183     45    -28     65     43    338     29    -36
20      311    134    378    268    118    154     80    269    188    -39
21     -231   -161   -221    -27   -153    -49    -87   -116    -69   -142
22       21    -21     67     43     -8    -24     -8     46     74     10
23     -107   -180   -203    -52   -111    -72   -250   -317   -217   -130
24      165     18    238    247     44     39    100    265    106     -1
25      -78   -120   -124   -116    -88   -104    -73   -130   -159    -18
26     -204    -65   -161   -208   -102    -40   -132   -212   -155    -70
27       29     97     36     22     32     40    -57   -233   -101     -2
28      -61     15    -23    -10      5     46    -52     29    143      2
29     -105    -49    -80    -74    -18    -78    -73    -28     -4     -9
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
7099    245   -149    325    594    126    405    720    607    467    216
7100  14476  13686   6560   8955   8443   3632   9542  15741   7641   6039
7101  10882  11789   5023   9567   8512   4214   7144  11441   6286   3584
7102    701     76    804    367    182    508    835   1311    345    416
7103   2762   1567   1090   1708   1503    839    993   3406   1098    629
7104   -325   -191   -258   -357    -78   -311   -361   -334   -242   -142
7105    -67    -88      9     45     29     46    -68     56    -58    -24
7106    346    290    220    430    159    199    448    325    293    298
7107    -68     14    -58    -35     18     -5    -16    -29      6    -13
7108    229    194    294    128     71    168    317    272    239     80
7109    -14     56     95     42     42     48     67    106     -4     88
7110    108    303    143     22     44    145     36    172    143     22
7111     28   -242    -25   -131    -33   -209    546    133   -129    -82
7112    349    214    464    342    159    147    304    428    359    252
7113     61    -28    513    142     71    376    243    103    368    107
7114    273    143    238    277    134    252    349    283    292    292
7115    384    231    720    307    178    384    312    445    585    256
7116   -306   -336   -204   -320   -182   -426   -488   -556   -349    264
7117  -1827  -2380  -1772  -2022   -179  -2217  -2300  -3019  -1439  -1037
7118   1582    624    753    743    626   1157    552    572   1776    756
7119    185    169    315    240    156    115     30    289    356     42
7120    511    837   1199    835    649   1221    819    629    980    986
7121   -125    -36     33    218     57    -76   -178    -86      6     26
7122    389    442    168    174    504    172    151    302    177    101
7123    -37    -17     52   -110    -26    -74    -18     23    -12     21
7124    793    782   1138    627    250    645   1140   1799    758    570
7125    329    295    777    170    314    341    482    446    385    359
7126     36     11     41    -50     14     26     10     59    115      9
7127    191     76    228    126     56    193    369    781    244    171
7128    -37    -14    -41    -91    -25    -53    -42     20    -39      7

      ...       35     36     37     38     28     29     30     31     32  \
0     ...        7   -213    -25    -72     -4     15   -318    -32   -124
1     ...     -100   -252    -20   -139   -116   -114   -192    -49    -79
2     ...      -57    136    124     -1   -125      2    -95     49    -37
3     ...      132    318    325    392    241    193    312    230    330
4     ...     -377   -209   -396   -324   -191    -51   -139   -367   -188
5     ...     -478   -557   -464   -510   -411   -155   -344   -508   -423
6     ...     -351     40   -221   -350    -31     29    324   -349    -31
7     ...     -290   -243   -390   -202   -240   -105   -237   -194   -223
8     ...      283    119     -1    249    150     42    105     34    -82
9     ...      247   -131    358    561     24    524    167    -56    176
10    ...      146     45   -197    275     19    -70    -50    147    226
11    ...     -752   -902   -852   -785   -669   -344   -820   -841  -1010
12    ...     -702   -306   -689   -326   -664   -285   -231   -657   -513
13    ...     -228   -258   -175    -47   -311    -53   -273   -240   -333
14    ...       48    465     -7    -96    297     38    208    -15     30
15    ...      180    298   -156     16    353   -142     99    227    177
16    ...     -141    -93    -47   -140    -96   -125   -126   -166    -69
17    ...     -233   -516   -397   -367   -291   -118   -534   -453   -411
18    ...    45492  23865  17359  19406  17878  26052  11983  23508  17996
19    ...      -26    -38     44    113     21    -67    -81   -126     20
20    ...       67    -14    286    227    218    121    114     61    371
21    ...      -72   -191    -73     -9   -103    -69    -67    -35    -68
22    ...        7      7    -11    -13     52      6     32     45      6
23    ...      -86   -283   -272   -289   -242   -198   -162    -94   -134
24    ...       76     27    118    -25    134     61    175    125    111
25    ...      -55   -131    -88   -141   -105    -93    -20   -125    -44
26    ...     -177   -190   -206   -114   -207   -190   -109   -171   -232
27    ...        0    -32     -5    -16    -42    -18     31     66     -7
28    ...      -79      9    -68     26    -59    -49    -23    -56   -144
29    ...     -125    -35    -60    -59    -39    -66    -21    -68    -56
...   ...      ...    ...    ...    ...    ...    ...    ...    ...    ...
7099  ...       96   -117    454     21   -105    131   -253    245    -56
7100  ...     7771  16593  13591  11303  10547   9355  13538  10144  10373
7101  ...     4972  15921  13307   8768  10235  11461  14783   9846   9002
7102  ...      226    536    391   -442    685    -95    104    190    745
7103  ...     2051   5627   2441    818   4431   1028   3624   2633   2842
7104  ...     -447   -331   -396   -365   -210   -142   -242   -230   -348
7105  ...       67    -21    -51    -93     18    -26    -97     20    111
7106  ...      370    386    228    202    403     58    386    207    330
7107  ...       16     -8    -50    -91    -31     -2     59    -20    -19
7108  ...      228    356    197    267    207    113    308    132    295
7109  ...      110     27     54      3    135    -30     32     27     80
7110  ...       86     -3     74     20     86     54     60     53    109
7111  ...      161    416    222   -139   -228    -71   -326   -205    -54
7112  ...      185    362    211    147    216     95    139    319    388
7113  ...      173    203     99    150    120     59   -118    149    172
7114  ...       55    388    251    130    247     19    247    281    292
7115  ...      415    432    249    160    399     45    192    306    205
7116  ...     -413   -257   -430   -381   -220    -78   -394   -442   -396
7117  ...    -1959  -2149  -3452  -4082  -1651   -887  -1634  -2404  -2525
7118  ...      391    412    393    286    429    314    208    385    688
7119  ...       93    234    146    103    173    173    225     36    348
7120  ...      336   1653    486   1121    755    492    737    592    938
7121  ...      -45     67    -32    102    -23     54     63     57    -15
7122  ...      170    486    334    330    573    277    472    215    433
7123  ...       12    -88     35   -112     42    -13     33    -22     -2
7124  ...      752   1293   1733   1567    987    279    737    588   1170
7125  ...      295    342    304    627    279     51    227    361    284
7126  ...       28     26     12     21     22      6     -9    -26     39
7127  ...     1558    246   3193   2520    662   2484    371    133    298
7128  ...      -67     23    -33      0    -46     -2    -31    -32     -3

         33
0      -135
1      -186
2       -70
3       337
4      -407
5      -566
6      -141
7      -315
8       206
9       321
10      233
11     -946
12     -909
13     -507
14      357
15      180
16      -92
17     -867
18    19679
19       18
20      238
21     -144
22      -16
23     -420
24      249
25     -149
26     -134
27       -7
28      -97
29     -118
...     ...
7099    221
7100  12292
7101  10418
7102    259
7103   2884
7104   -224
7105     66
7106    464
7107     46
7108    238
7109    118
7110     84
7111   -103
7112    545
7113    129
7114    348
7115    477
7116   -193
7117  -2866
7118    248
7119    209
7120    634
7121    -58
7122    375
7123    -23
7124   2315
7125    250
7126    -12
7127    790
7128    -10

[7129 rows x 38 columns]

In [16]:
list(train_df2.columns.values)

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '34',
 '35',
 '36',
 '37',
 '38',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [17]:
list(act_df.columns.values)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71]